// 主题背景+字体颜色
$background-color-theme: #FAFAFA;
$font-color-theme: #00205b;
// $font-color-theme: #ef30cf;

//字体定义规范
$font_little_s:10px;
$font_little:12px;
$font_medium_s:14px;
$font_medium:16px;
$font_large_s:18px;
$font_large:20px;


@function rem($px){//$px为需要转换的字号
    @return $px / 100px * 1rem; //100px为根字体大小
}